body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-container {
	width: 450px;
	background-color: #fff;
	padding: 30px;
	box-shadow:  0px 0px 10px rgba(0,0,0,0.1);

}

.input-container .input-data {
	min-height: 200px;
	width: 100%;

}

.input-cont {
	margin: 30px 0;
	height: 40px;
	width: 100%;
	position: relative;
}
 .input-cont input {
 	position: relative;
	height: 100%;
	width: 100%;
	border:none;
	border-bottom: 2px solid silver;
	font-size: 17px;
	outline: none;
}

.input-cont input:focus ~ label,
.input-cont input:valid ~ label {
	transform: translateY(-20px);
	font-size: 15px;
}

.input-cont label {
	position: absolute;
	bottom: 10px;
	left: 0;
	color: grey;
	pointer-events: none;
	transition: transform .2s, font-size .2s;
}
